@model GetByIDTeacherDto
<div class="sidebar pe-4 pb-3">
    <nav class="navbar bg-light navbar-light">
        <a href="index.html" class="navbar-brand mx-4 mb-3">
        </a>
        <div class="d-flex align-items-center ms-4 mb-4">
            <div class="position-relative">
                <img class="rounded-circle" src="@Model.Image" alt="" style="width: 40px; height: 40px;">
                <div class="bg-success rounded-circle border border-2 border-white position-absolute end-0 bottom-0 p-1"></div>
            </div>
            <div class="ms-3">
                <h6 class="mb-1">Öğretmen Paneli</h6>
                <span>@Model.FirstName @Model.LastName</span>
            </div>
        </div>
        <div class="navbar-nav w-100">
            <a href="/Default/Index/" class="nav-item nav-link"><i class="fa fa-th me-2"></i>Siteye Git</a>
            <a href="/Teacher/MySchedules/Index/" class="nav-item nav-link"><i class="fa fa-table me-2"></i>Ders Programım</a>
            <a href="#" class="nav-item nav-link"><i class="fa fa-phone me-2"></i>İletişim Bilgileri</a>
            <a href="#" class="nav-item nav-link"><i class="fa fa-cubes me-2"></i>Gelen Mesajlar</a>
            <a href="#" class="nav-item nav-link"><i class="fa fa-cog me-2"></i>Ayarlar</a>
            <a href="/Login/Index/" class="nav-item nav-link"><i class="fa fa-times me-2"></i>Çıkış Yap</a>


        </div>
    </nav>
</div>